@{
    Layout = "_LayoutAdmin";
}

<div class="container-fluid">
    <div class="row">
        <div class="card card-table">
            <div class="card-body">
                <div class="title-header option-title d-sm-flex d-block">
                    <h5>Danh Sách Người Dùng</h5>
                </div>
                <div>
                    <div class="table-responsive dashboard-bg-box">
                        <table class="table" id="user-datatable">
                            <thead>
                            <tr>
                                <th title="Họ Tên">Họ Tên</th>
                                <th title="Email">Email</th>
                                <th title="Quyền Người Dùng">Quyền Người Dùng</th>
                                <th title="Trạng Thái">Trạng Thái</th>
                                <th title="Hình Ảnh">Hình Ảnh</th>
                                <th title="Thao Tác" class="datatable-action">Thao Tác</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/lib/datatable/datatables.css">
<script src="~/lib/datatable/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib/datatable/datatables/datatable.custom.js"></script>

<script src="~/admin/js/user/manage-user.js" asp-append-version="true"></script>